@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
  }
  
  /* Global Scrollbar for Dark Mode */
  .dark ::-webkit-scrollbar {
    width: 8px;
  }
  .dark ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }
}
